---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-core.FixedAddressDereference,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -performance-no-int-to-ptr
WarningsAsErrors: '*'
HeaderFilterRegex: 'source[/\\].*'
FormatStyle: file
...
